<!DOCTYPE html>
<html>
  <head>
    <title>Transport vault</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="background-color: #ededed">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" href="#">
      <%= link_to image_tag("bus.gif", height: 30, width:30), root_path %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
          <li class="nav-item active">
            <%= link_to "Domů", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Odhlásit se", '/logout', class: "nav-link" %>
          </li>
        <%else%>
          <li class="nav-item active">
            <%= link_to "Přihlásit se", '/login', class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Registrovat se", '/signup', class: "nav-link" %>
          </li>
        <%end%>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
